        {% extends 'tree/base.html' %}
        {% block site_body %}

            {% if all_families %}
                {% for family in all_families %}

                    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
                      <div class="col-sm-6 col-md-4">
                          <div class="well">



                                <h3>родина {{ family.family_name}}</h3>
                                <a href="{% url 'tree:index' %}">
                                        <img src="{{ family.family_logo.url }}" alt="Generic placeholder image" width="250" height="250" class="img-circle">
                                </a>
                                        <p>Місце походження: {{family.family_location }}</p>
                                <div class="caption">



                                        <!-- View Details -->
                                        <a href="{% url 'tree:detail' family.id %}" class="btn btn-primary btn-sm" role="button">Деталi</a>

                                        <!-- Edit Details -->
                                        <button type="submit" class="btn btn-default btn-sm">
                                        <a href="{% url 'tree:family_update' family.id %}" class="glyphicon glyphicon-wrench"></a>

                                        <!-- Delete Family -->
                                        <form action="{% url 'tree:family_delete' family.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="family_id" value="{{ family.id }}"/>
                                                <button type="submit" class="btn btn-default btn-sm">
                                                    <span class=" glyphicon glyphicon-trash"></span>
                                                </button>
                                        </form>


                          </div>
                      </div>
                    </div>


                {% endfor %}
            {% endif %}



       {% endblock %}