        {% extends 'tree/base.html' %}
        {% block site_body %}



            {% if all_persons %}
                {% for person in all_persons %}

                  <div class="bs-example" data-example-id="thumbnails-with-custom-content">
                      <div class="col-sm-6 col-md-4">
                          <div class="well">


                                                <h2>{{ person.first_name}}</h2>
                                                  <a href="{% url 'tree:persons' %}">
                                                    <img src="{{ person.person_photo.url }}" alt="Generic placeholder image" width="250" height="250" class="img-circle">
                                                  </a>




                                                  <h2>{{person.date_of_birth }}</h2>
                                                  <h4>Родина: {{ person.family }} </h4>

                                                  <!-- View Details -->
                                                  <a href="{% url 'tree:person_detail' person.id %}" class="btn btn-primary btn-sm" role="button">Деталi</a>

                                                  <!-- Edit Person Data -->
                                                  <button type="submit" class="btn btn-default btn-sm">
                                                  <a href="{% url 'tree:person_update' person.id %}" class="glyphicon glyphicon-wrench"></a>

                                                  <!-- Delete Person -->
                                                  <form action="{% url 'tree:person_delete' person.id %}" method="post" style="display: inline;">
                                                      {% csrf_token %}
                                                      <input type="hidden" name="person_id" value="{{ person.id }}"/>
                                                          <button type="submit" class="btn btn-default btn-sm">
                                                              <span class=" glyphicon glyphicon-trash"></span>
                                                          </button>
                                                  </form>

                          </div>
                      </div>
                  </div>


                        {% endfor %}
                    {% endif %}
                    </div>

        {% endblock %}
